* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #424142;
}

.title {
  color: #d1b2f0;
  font-weight: 500;
  font-size: 15px;
}

h4 {
  color: #a9a9a9;
  font-weight: 600;
  margin-top: 10px;
}

h1 {
  color: white;
  font-weight: 600;
}
p {
  color: #e0e0e0;
}

span {
  color: #e0e0e0;
  font-size: 15px;
  font-weight: 400;
  background-color: none;
}

.content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100vh;
}

.contador {
  border: 1.6px dotted #cfb6e8;
  height: 25%;
  width: 80%;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 35px;
  gap: 25px;
  background: #302636;
}

.resultado {
  width: 80%;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 35px;
  gap: 10px;
  background: #302636;

  p {
    color: #e0e0e0;
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

input {
  border: none;
  background-color: #544861;
  border-radius: 5px;
  padding: 8px;
  color: #e0e0e0;
}

button {
  padding: 10px;
  border-radius: 8px;
  background-color: #f8e8ba;
  border: none;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: #cfb6e8;
  }
}
