* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box; /* Trava tamanhos, e não deixar algum elemento ultrapassar */
}

body {
  background-color: #f4c6da;
}

header {
  background-color: #940c47;
  color: white;
}

img {
  border-radius: 5px;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

nav {
  display: flex;
  background-color: #a51554;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #e2b8ca;
  }
}

table {
  border-color: #a51554;
  box-shadow: none;
  border-radius: 5px;
  width: 80%;
}

th {
  color: #f7f7f7;
  background-color: #a51554;
  padding: 1rem;
}

td {
  color: rgb(1, 1, 1);
  padding: 1rem;
  text-align: center;
}

button {
  color: #303030;
  background-color: #f3e7a2;
  border: none;
  border-radius: 5px;
  padding: 1rem 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: #d88fad;
  }
}

.content {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  align-items: center;
}
.menu-button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: #f1e7b0;
  color: black;
  cursor: pointer;

  &:hover {
    background-color: #a51554;
    color: white;
  }
}

.select {
  text-decoration: underline;
}

.button-box {
  display: flex;
  gap: 1rem;
  width: 80%;
}
