.content {
  padding: 3rem;
}

table {
  border-color: #575757;
  box-shadow: none;
}

th {
  color: #f7f7f7;
  background-color: #575757;
  padding: 0.5rem;
}

td {
  color: rgb(238, 238, 238);
  padding: 0.5rem;
  text-align: center;
  align-content: center;
}

button {
    color: #303030;
    background-color: #efe4a3;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: #d88fad;
    }
}