.content {
  display: flex;
  padding: 3rem 5rem 0 5rem;
  flex-direction: column;
}

h2 {
  color: white;
}

p {
  color: white;
}

h4 {
  color: #e9aac7;
  font-size: 18px;
}

li {
    color: white;
}

