* {
  margin: 0;
}

body {
  background-color: #2e2e2e;
  padding: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: #f093be;
  font-size: 20px;
}

img {
  width: 100%;
  height: 80%;
}

h3 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

button {
  background-color: #eee486;
  border: none;
  width: 100%;

  &:hover {
    background-color: #f093be;
  }
}

.card {
  border: 1px solid #994f72;
  margin: 2rem;
  width: 15rem;
  height: 15rem;
}

.promo {
  text-align: center;
  color: white;
  background-color: red;
}
