<div class="card-container">
  <div class="content">
    <img [src]="aluno.imageLink" width="350px" height="250px" />

    <h3>{{ aluno.name }}</h3>
    <div class="infos">
      <p><strong>E-mail:</strong> {{ aluno.email }}</p>
      <p><strong>Turma:</strong> {{ aluno.class }}</p>
      <p><strong>Nota final:</strong> {{ aluno.grade }}</p>
    </div>
    <div [ngClass]="aluno.status === 'APROVADO' ? 'aprovado' : 'reprovado'">
      <h4 class="status">
        {{ aluno.status }}
      </h4>
    </div>
  </div>
</div>
