.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 35px;
  height: 100vh;
  background-color: #4b4a4a;

  h3 {
    margin: 0;
    color: #e0e0e0;
    font-weight: 600;
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.no-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #dfdfdf;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;

  gap: 10px;
}

.filters {
  display: flex;
  align-items: center;

  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #868585;
  color: #fffefe;
  cursor: pointer;

  &:hover {
    background-color: #ddcbcf;
    color: #292929;
  }

}

.filtersButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #e0b9c2;
  color: #292929;
  cursor: pointer;

  &:hover {
    background-color: #868585;
    color: #fffefe;
  }
}
.filters

span {
  color: #cfcfcf;
  font-size: 15px;
}
