<div class="home-container">
  <h3>Lista de Alunos</h3>

  @if (alunosFiltrados.length === 0) {
    <div class="no-content">
      <p>Nenhum aluno cadastrado...</p>
    </div>
  } @else {
    <!-- <div class="buttons-container">
      <div class="buttons">
        <button (click)="trocarVisualicacao()">{{modoExibicao === 'cards' ? 'Ver por Tabela' : 'Ver por Card'}}</button>
      </div>

      <div class="filters">
        <span>Filtrar por:</span>
        <button class="filtersButton" (click)="aplicarFiltro('TODOS')">Todos</button>
        <button class="filtersButton" (click)="aplicarFiltro('APROVADOS')">Aprovados</button>
        <button class="filtersButton" (click)="aplicarFiltro('REPROVADOS')">Reprovados</button>
      </div>
    </div> -->

    @if (modoExibicao === "cards") {
      <div class="cards-container">
        @for (aluno of alunosFiltrados; track $index) {
          <app-card-aluno [aluno]="aluno"></app-card-aluno>
        }
      </div>
    } @else {
      <app-tabela-alunos [alunos]="alunosFiltrados"></app-tabela-alunos>
    }
  }
</div>
